body {
  margin: 0;
  padding: 0;
  font-family: Ubunto;
  background-color: white;
}

.container {
  width: 100%;
  height: auto;
  margin: 0px;
  padding: 0px;
}

#logo img {
  width: 85px;
  height: 85px;
  margin-top: 40px;
  margin-left: 90px;
  float: left;
}

#createBox {
  margin-top: 0px;
  width: 100%;
  padding-top: 40px;

  margin-right: 10%;
}

.createAccount {
  border: 1px solid black;
  padding: 10px 20px;
  float: right;

  margin-right: 10%;
  text-decoration: none;
  text-align: center;
  border-radius: 35px;
  color: black;
}

.createAccount:hover {
  border: 1px solid black;
  background-color: #cb1c1f;
  color: white;
}

.main-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#CarGasStation {
  width: 60%;
  height: 570px;
}

#car-img {
  width: 100%;
  height: 100%;
}

#loginBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  margin-right: 10%;
}

form {
  width: 100%;
  height: 100%;
  margin-left: 50px;
}

form h2 {
  font-size: 35px;
  font-weight: 300;
  margin-bottom: 20px;
}

form h2 span {
  color: #d2232a;
}

.form-group {
  margin-bottom: 10px;
  width: 100%;
}

.form-control {
  width: 316px;
  height: 40px;
  border: none;
  text-decoration: none;
  outline: none;
}

.input-icon {
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.input-icon img {
  float: left;
  padding: 15px;
  width: 15px;
  height: 15px;
}

#eye-icon {
  float: right;
  width: 14px;
  height: 14px;
  cursor: pointer;
}

.login-btn {
  margin-top: 10px;
  width: 100%;
  height: 40px;
  background-color: #cb1c1f;
  border: none;
  color: white;
  border-radius: 35px;
  cursor: pointer;
}

.login-btn:hover {
  background-color: white;
  border: 1px solid black;
  color: black;
}

.forgot-password {
  text-align: center;
  margin-top: 10px;
}

.forgot-password a {
  text-decoration: none;
  color: black;
}

.forgot-password a:hover {
  color: red;
}

@media (max-width: 1496px) {
  #CarGasStation {
    width: 50%;
  }

  #loginBox {
    width: 40%;
  }

  .header {
    padding: 10px;
  }

  #logo img {
    width: 60px;
    height: 60px;
  }

  #createBox {
    margin-top: 20px;
  }

  form h2 {
    font-size: 28px;
  }

  .form-control {
    width: 70%;
  }
}

@media (max-width: 1024px) {
  #CarGasStation {
    width: 50%;
  }

  #loginBox {
    width: 40%;
  }

  .header {
    padding: 10px;
  }

  #logo img {
    width: 60px;
    height: 60px;
  }

  #createBox {
    margin-top: 20px;
  }

  form h2 {
    font-size: 28px;
  }

  .form-control {
    width: 60%;
  }
}

@media (max-width: 768px) {
  #CarGasStation {
    display: none;
  }

  #createBox {
    margin-right: 5%;
    padding-right: 0px;
    margin-left: 2px;
    width: 35%;
    float: right;
  }

  #loginBox {
    width: 90%;
    margin-right: 8%;
  }

  .form-control {
    width: 70%;
  }

  form h2 {
    font-size: 24px;
    text-align: left;
  }
}

@media (max-width: 480px) {
  #logo {
    width: 100% !important;
    height: 100px !important;
  }

  #logo-img {
    width: 85px;
    height: 85px;
    padding-top: 0px;
    margin-top: 0px;
    margin-left: 40% !important;
  }

  #createBox {
    width: 100%;
    display: flex;
    text-align: center;
    padding-top: 0px;
  }

  .createAccount {
    margin-left: 36%;
  }

  #loginBox {
    width: 100%;
    margin-top: 10px;
  }

  #CarGasStation {
    display: none;
  }

  #loginBox {
    width: 90%;

    margin-left: 6%;
  }

  form {
    margin-left: 0;
  }

  .form-control {
    width: 50%;
  }

  form h2 {
    font-size: 20px;
    text-align: left;
  }
}

@media (max-width: 320px) {
  #createBox {
    width: 100%;
    display: flex;
    text-align: center;
    padding-top: 0px;
  }

  .createAccount {
    margin-left: 30%;
  }
}
