body {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
  background-color: white;
}

.container {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

#logo img {
  width: 85px;
  height: 85px;
  margin-top: 40px;
  margin-left: 90px;
  float: left;
}

.main-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#CarGasStation {
  width: 60%;
  height: 570px;
}

#car-img {
  width: 100%;
  height: 100%;
}

.signup-section {
  width: 29%;
  margin-right: 10%;
  border-radius: 5px;
}

.SignUp-Box {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 30px 20px;
}

form {
  width: 98%;
  margin: 5px;
}

form h2 {
  font-size: 16px;
  font-weight: bold;
  color: #cb1c1f;
  margin-top: 1px;
  margin-bottom: 5px;
  text-align: center;
}

form p {
  text-align: center;
  font-size: 14px;
  color: #2b2b2b;
  margin-bottom: 15px;
}

.input-first-last-name {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.input-group-first-name,
.input-group-last-name {
  width: 49%;
}

#firstName {
  margin-right: 5px;
}

#lastName {
  margin-right: 5px;
}

.input-icon {
  display: flex;
  align-items: center;
  border: 1px solid #b0b0b0;
  border-radius: 5px;
  margin-bottom: 6px;
  padding: 6px 0px 6px 6px;
}

.input-icon img {
  margin-right: 8px;
  padding: 5px;
}

.input-icon input {
  border: none;
  outline: none;
  flex-grow: 1;
  padding: 5px;
  height: 20px;
}

#eye-icon,
#eyeHide-icon {
  cursor: pointer;
  margin-left: 0px;
  float: right;
  margin-right: 8px;
  padding-right: 0px;
}

#createAccount-btn {
  width: 100%;
  height: 40px;
  font-size: 16px;
  font-weight: 400;
  background-color: #cb1c1f;
  color: white;
  border: none;
  border-radius: 35px;
  cursor: pointer;
  margin-top: 10px;
}

#createAccount-btn:hover {
  background-color: white;
  border: 1px solid black;
  color: black;
}

.login-box {
  text-align: center;
  margin-top: 15px;
}

.login-btn {
  display: inline-block;
  width: 20%;
  height: 35px;
  background-color: white;
  border: none;
  color: #b0b0b0;
  border: 1px solid #b0b0b0;
  border-radius: 35px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  line-height: 35px;
}

.login-btn:hover {
  background-color: #cb1c1f;
  border: 1px solid #b0b0b0;
  color: white;
}

@media screen and (min-width: 1025px) {
  .input-first-last-name {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .input-group-first-name,
  .input-group-last-name {
    width: 49%;
  }

  #firstName {
    width: 80%;
    margin-right: 5px;
  }

  #lastName {
    width: 80%;
    margin-right: 5px;
  }
}

@media screen and (max-width: 1024px) {
  #CarGasStation {
    width: 100%;
  }

  .signup-section {
    width: 100%;
    margin-right: 0;
  }

  .SignUp-Box {
    width: 85%;

    padding: 20px 10px;
  }

  .input-first-last-name {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .input-group-first-name,
  .input-group-last-name {
    width: 49%;
  }

  #firstName {
    width: 80%;
    margin-right: 5px;
  }

  #lastName {
    width: 80%;
    margin-right: 5px;
  }
}

@media screen and (max-width: 768px) {
  #CarGasStation {
    display: none;
  }

  #logo img {
    width: 60px;
    height: 60px;
    margin-left: 10px;
    align-items: center;
    margin-left: 45%;
    margin-bottom: 10px;
  }

  .signup-section {
    width: 100%;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 18%;
  }

  .SignUp-Box {
    width: 100%;
    padding: 20px;
  }

  form {
    width: 100%;
  }

  .input-first-last-name {
    flex-direction: column;
  }

  .input-group-first-name,
  .input-group-last-name {
    width: 100%;
  }

  .input-icon {
    padding: 6px 0 6px 0px;
    margin-right: 10px;
  }

  #createAccount-btn {
    width: 100%;
    margin: 10px 0;
  }

  .login-btn {
    width: 20%;
    text-align: center;
    height: 30px;
    margin-right: 5%;
    margin-left: 12%;
    font-size: 12px;
  }
}

@media screen and (max-width: 480px) {
  .signup-section {
    width: 100%;
    margin-top: 5%;
    margin-left: 7%;
    margin-right: 15%;
  }

  #logo img {
    width: 60px;
    height: 60px;
    margin-left: 10px;
    align-items: center;
    margin-left: 45%;
    margin-bottom: 10px;
  }

  .SignUp-Box {
    padding: 15px;
    width: 100%;
    margin-left: 0px;
  }

  .input-icon {
    padding: 6px 0 6px 0px;
    margin-right: 10px;
  }

  form h2 {
    font-size: 12px;
    font-weight: bold;
  }

  form p {
    font-size: 10px;
  }

  .form-control {
    width: 50%;
  }

  #createAccount-btn {
    height: 35px;
    font-size: 14px;
    align-items: center;
  }
}
